

.tagSlider{
  position: relative;
  overflow: hidden;
  max-width: 100%;
  box-sizing: border-box;
  &__scene{
    overflow: hidden;
    overflow-x: scroll;
    height: auto;
    ul{
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      li{
        white-space: nowrap;
        padding: 0 12px;
        &:first-child{
          padding-left: 0;
        }
        &:last-child{
          padding-right: 0;
        }
      }
    }
  }
  &__li-active{
    .tagSlider{
      &__tag{
        text-decoration: underline;
      }
    }
  }
  &__button{
    display: none;
    position: absolute;
    top: 0;
    height: 100%;
    width: 20px;
    &-prev{
      left: 0;
    }
    &-next{
      right: 0;
    }
  }
  &-overflow {
    margin-left: 0;
    margin-right: 0;
    ul{
      justify-content: normal;
    }
    .tagSlider {
      &__button {
        display: block;
      }
    }
  }
  &-center{
    width: 100%;
    .tagSlider{
      &__scene{
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}